html {
    height: -webkit-fill-available;
}

body {
    height: 100vh;
    height: -webkit-fill-available;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-header {
    background-color: #706a69;
    color: #e8e8e8;
}

.app-header > * {
    margin: 8px;
}

.app-contents {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.app-footer {
    display: flex;
    gap: 1rem;
    margin: 16px;
}

.app-header * {
    margin: 16px;
}

.app-narrative {
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.app-narrative-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: black 2px solid;
    padding: 5px;
}

.app-nav-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.flex-grow {
    flex: 1 1 auto;
}

.button-trigger {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 90px;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
}

.button-previous {
  background-color: #EA4C89;
}

.button-previous:hover, .button-previous:focus {
  background-color: #ff4a8f;
}

.button-next {
    background-color: #00e832;
  }
  
.button-next:hover, .button-next:focus {
    background-color: #57ff7b;
  }

.button-previous:disabled {
    background-color: #EA4C89;
    opacity: 0.6;
}

.button-next:disabled {
    background-color: #00e832;
    opacity: 0.6;
}